<footer class="page-footer bg-light pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 p-4">
                <h5>ABC Bank</h5>
                <h6>Instant loan approval!</h6>
            </div>
            <div class="col-6">
                <ul class="list-unstyled">
                    <li class="p-2">
                        <a routerLink="/submit-application">Submit an Application</a> 
                    </li>
                    <li class="p-2">
                        <a routerLink="/view-application">View an Application</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright p-3 text-right">© 2021 Copyright:
        <a routerLink="/"> ABC Bank Home</a>
    </div>
</footer>
