
<h1 class="p-3">Approved Applications</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Applicant ID</th>
      <th scope="col">Applicant Name</th>
      <th scope="col">Application Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let application of this.applications;index as i">
      <td>{{i+1}}</td>
      <td>{{application["firstName"]+" "+application["lastName"]}}</td>
      <td>{{application["date"]}}</td>
      <td>{{application["status"]}}</td>
    </tr>
  </tbody>
</table>
