<h1 class="p-3">Applications</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Applicant ID</th>
      <th scope="col">Applicant Name</th>
      <th scope="col">Application Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of this.applications;index as i">
      <td><a [routerLink]="['/view-application',application['id']]" style="text-decoration: none;">{{i+1}}</a></td>
      <td>{{application["firstName"]+" "+application["lastName"]}}</td>
      <td>{{application["date"]}}</td>
      <td>{{application["status"]}}</td>
    </tr>
  </tbody>
</table>
