/* You can add global styles to this file, and also import other style files */
body
{
    margin : 0px;
    padding : 0px;
}

.logo-name1
{
    letter-spacing: 3px;
    color : white;
    border: 3px solid #003F60;
    background-color: #003F60;
    padding: 4px;
}
