<h1 class="p-3">Welcome, Now get your Loan approved instantly !!!!</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 p-2">
    <p class="fs-5">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    </div>
    <div class="col-2">
    </div>
    <div class="col-2 fs-5">
      <a routerLink="submit-application">Submit an Application</a>
    </div>
  </div>

  <div class="row">
    <div class="col-6 p-2">
    <p class="fs-5">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    </div>
    <div class="col-2">
    </div>
    <div class="col-2 fs-5">
     <a routerLink="view-application">View an Application</a>
    </div>
  </div>

  <div class="row">
    <div class="col-6 p-2">
    <p class="fs-5">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    </div>
  </div>
</div>
