<h1 class="p-3">Welcome, Now get your Loan approved instantly !!!!</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 p-4">
      <p class="fs-5">
        Welcome to ABC Bank Loan processing system. Now get your loan approved immediately. We use advanced algorithms
        to calculate a credit score for you and approve your loan almost instantly based on the same!
      </p>
      <p class="fs-5">
        In order to Submit a new loan request, click on "Submit an application".
      </p>
      <p class="fs-5">
        For viewing existing loan applications , click on "View applications" link
        Submit an application View applications
      </p>
    </div>
    <div class="col-2"></div>
    <div class="col-4">
      <div class="row p-2">
        <div class="col-12">
          <button class="btn-lg btn-success" routerLink="submit-application">Submit an Application</button>
        </div>
        
      </div>
      <div class="row p-2">
        <div class="col-12">
          <button class="btn-lg btn-primary" routerLink="view-application">View an Application</button>
        </div>
      </div>
      
    </div>
  </div>
</div>