<h1 class="p-3"> Submit Application</h1>
<div class="row">
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" class="form">
    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-8">
            <input type="text"
              [ngClass]="{errorBox:this.applicationForm.get('firstName')?.invalid && this.applicationForm.get('firstName')?.touched}"
              class="form-control class-1" id="autoSizingInput" placeholder="First Name" formControlName="firstName">
            <div class="class-1"
              *ngIf="applicationForm.get('firstName')?.invalid && applicationForm.get('firstName')?.touched">
              <small class="text-danger" *ngIf="applicationForm.get('firstName')?.errors?.required">First name is
                required</small>
              <small class="text-danger" *ngIf="applicationForm.get('firstName')?.errors?.maxlength">First name should
                not be more than 255 characters</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Address Line 1</label>
          <div class="col-sm-8">
            <input type="text"
              [ngClass]="{errorBox:this.applicationForm.get('addressLine1')?.invalid && this.applicationForm.get('addressLine1')?.touched}"
              class="form-control class-1" id="autoSizingInput" placeholder="Address Line 1"
              formControlName="addressLine1">
            <div class="class-1"
              *ngIf="applicationForm.get('addressLine1')?.invalid && applicationForm.get('addressLine1')?.touched">
              <small class="text-danger" *ngIf="applicationForm.get('addressLine1')?.errors?.required">Address line is
                required</small>
              <small class="text-danger" *ngIf="applicationForm.get('addressLine1')?.errors?.maxlength">Address line
                should
                not be more than 255 characters</small>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Middle Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Middle Name"
              formControlName="middleName">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Address Line 2</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Address Line 2"
              formControlName="addressLine2">
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Last Name </label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Last Name"
              formControlName="lastName">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="City"
              formControlName="city">
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">DOB</label>
          <div class="col-sm-8">
            <input type="date" class="form-control class-1" id="autoSizingInput" placeholder="DOB"
              formControlName="dateOfBirth">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">State</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="State"
              formControlName="state">
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Marital Status</label>
          <div class="col-sm-8">
            <select type="text" class="form-select class-1" id="autoSizingInput"
              formControlName="maritalStatus">
              <option hidden>Choose one</option>
              <option>Single</option>
              <option>Married</option>
              <option>Separated</option>
              <option>Divorced</option>
              <option>Widowed</option>
            </select>
            <small class="text-danger" *ngIf="applicationForm.get('maritalStatus')?.invalid && applicationForm.get('maritalStatus')?.touched">Required</small>
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Postal Code</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Postal Code"
              formControlName="postalCode">
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">SSN Number</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="SSN Number"
              formControlName="ssn">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Home Phone</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Home Phone"
              formControlName="homeNo">
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Loan Amount</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Loan Amount"
              formControlName="amount">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Office Phone</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Office Phone"
              formControlName="officeNo">
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Loan Purpose</label>
          <div class="col-sm-8">
            <select type="text" class="form-select class-1" id="autoSizingInput" placeholder="Loan Purpose"
              formControlName="purpose">
              <option>Debt</option>
              <option>Educational Loan</option>
              <option>Personal Loan</option>
              <option>Home Loan</option>
            </select>
            <small class="text-danger" *ngIf="applicationForm.get('purpose')?.invalid && applicationForm.get('purpose')?.touched">Required</small>
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Mobile</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Mobile"
              formControlName="mobileNo">
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-8">
            <textarea class="form-control class-1" id="autoSizingInput" rows="3"
              formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">E-Mail</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="E-mail"
              formControlName="email">
          </div>
        </div>
      </div>

    </div>
    <br />
    <br />
    <h4 class="p-3">Employer Details</h4>
    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Employer Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Name"
              formControlName="currEmployerName">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Work Experience</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="inputEmail3" placeholder="Year" formControlName="workExpYear">
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="inputEmail3" placeholder="Months"
              formControlName="workExpMonth">
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Annual Salary</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Annual Salary"
              formControlName="annualSalary">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Designation</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Designation"
              formControlName="designation">
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Address Line 1</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Address Line 1"
              formControlName="empAddressLine1">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">

      </div>

    </div>
    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Address Line 2</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Address Line 2"
              formControlName="empAddressLine2">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">

      </div>

    </div>
    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="City"
              formControlName="empCity">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">

      </div>

    </div>
    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">State</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="State"
              formControlName="empState">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">

      </div>

    </div>

    <div class="row">

      <div class="col p-2 class-1">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Postal Code</label>
          <div class="col-sm-8">
            <input type="text" class="form-control class-1" id="autoSizingInput" placeholder="Postal Code"
              formControlName="empPostalCode">
          </div>
        </div>
      </div>
      <div class="col p-2 class-2">

      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <a type="button" href="./" class="btn btn-primary p-3 m-3 bt-5">Cancel</a>
        <button type="submit" class="btn btn-primary p-3 m-3 bt-5">Submit</button>
      </div>
    </div>
  </form>
</div>