<h1 class="p-4">Submit new application </h1>
<form>
  <div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3">
  </div>
  </div>

  <div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Middle Name</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3">
  </div>
  </div>

  <div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Last Name</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3">
  </div>
  </div>

  <div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Date</label>
  <div class="col-sm-3">
      <input type="date" class="form-control" id="inputEmail3">
  </div>
  </div>

  <div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Marital Status</label>
  <div class="col-sm-3">
    <select id="inputEmail3" class="form-select">
      <option>Married</option>
      <option>Unmarried</option>
    </select>
  </div>
  </div>

  <div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">SSN Number</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3">
  </div>
  </div>

  <div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Loan Amount</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3">
  </div>
  </div>

  <div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Loan Purpose</label>
  <div class="col-sm-3">
    <select id="inputEmail3" class="form-select">
      <option>Options</option>
      <option>Options</option>
    </select>
  </div>
  </div>

  <div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
  <div class="col-sm-3">
      <textarea class="form-control" id="inputEmail3" rows="3"></textarea>
  </div>
  </div>

</form>
