<!--Form for applicant details-->

<h1 class="p-4">Submit new application </h1>
<div class="row">
  <form class="m-3 row g-3">
     <div class="row justify-content-around">
       <div class="col pr-0">

          <div class="row mb-5">
          <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3" placeholder="First Name">
          </div>
          </div>

          <div class="row mb-5">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Middle Name</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Middle Name">
          </div>
          </div>

          <div class="row mb-5">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3" placeholder="Last Name">
          </div>
          </div>  

          <div class="row mb-5">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Date of Birth</label>
          <div class="col-sm-6">
            <input type="date" class="form-control" id="inputEmail3">
          </div>
          </div>  
          
          <div class="row mb-5">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Marital Status</label>
          <div class="col-sm-6">
          <select id="inputEmail3" class="form-select">
            <option>Married</option>
            <option>Unmarried</option>
          </select>
          </div>
          </div>
          
          <div class="row mb-5">
          <label for="inputEmail3" class="col-sm-2 col-form-label">SSN Number</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3" placeholder="SSN Number">
          </div>
          </div>

          <div class="row mb-5">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Loan Amount</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3" placeholder="Loan Amount">
          </div>
          </div>

          <div class="row mb-5">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Loan Purpose</label>
          <div class="col-sm-6">
          <select id="inputEmail3" class="form-select">
            <option>Options</option>
            <option>Options</option>
          </select>
          </div>
          </div>
          
          <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-6">
            <textarea class="form-control form-control-lg" id="inputEmail3"  rows="3" placeholder="Describe reason why you are applying for loan"></textarea>
          </div>
          </div>

       </div>
       <div class="col">
         <h5 class ="m-3">Address</h5>
         <div class="m-3 row g-3 emp-det">
            <div class="row mb-3 pt-3">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Address Line 1</label>
            <div class="col sm-3">
              <input type="text" class="form-control form-control-sm" id="inputEmail3" placeholder="Address Line 1"> 
            </div>
            </div>

            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-3 col-form-label">Address Line 2</label>
              <div class="col-sm-6">
                 <input type="text" class="form-control form-control-sm" id="inputEmail3" placeholder="Address Line 2">
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-3 col-form-label">City</label>
              <div class="col-sm-6">
                 <input type="text" class="form-control form-control-sm" id="inputEmail3" placeholder="City">
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-3 col-form-label">State</label>
              <div class="col-sm-6">
                 <input type="text" class="form-control form-control-sm" id="inputEmail3" placeholder="State">
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-3 col-form-label">Postal Code</label>
              <div class="col-sm-6">
                 <input type="text" class="form-control form-control-sm" id="inputEmail3" placeholder="123456">
              </div>
            </div>

         </div>
         <h5 class="m-3">Contact Information</h5>
         <div class="m-3 row g-3 emp-det">
            
            <div class="row mb-3 pt-3">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Home Phone</label>
            <div class="col sm-6">
              <input type="text" class="form-control form-control-sm" id="inputEmail3" placeholder="123456">
            </div>
            </div>
             
            <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Office Phone</label>
            <div class="col sm-6">
              <input type="text" class="form-control form-control-sm" id="inputEmail3" placeholder="123456">
            </div>
            </div>
            
            <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Mobile</label>
            <div class="col sm-6">
              <input type="text" class="form-control form-control-sm" id="inputEmail3" placeholder="123456">
            </div>
            </div>

            <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Email Address</label>
            <div class="col sm-6">
              <input type="text" class="form-control form-control-sm" id="inputEmail3" placeholder="xyz@abc.com">
            </div>
            </div>

         </div> 
       </div>
     </div>
  </form>   
</div> 


<!--About Employer Details-->

<h4 class="m-3">Employment Details</h4>
<form class="m-3 row g-3 emp-det">
<div class="row mb-3 pt-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Employer Name</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
  </div>
  <label for="inputEmail3" class="col-sm-2 col-form-label">Work Experience</label>
  <div class="col-sm-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Year">
  </div>
  <div class="col-sm-1">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Month">
  </div>
</div>

<div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Annual Salary</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Annual Salary">
  </div>
  <label for="inputEmail3" class="col-sm-2 col-form-label">Designation</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Designation">
  </div>
</div>

<h4 class="m-3">Address</h4>
  <div class="row mb-3 m-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Address Line 1</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Address Line 1">
  </div>
</div>

  <div class="row mb-3 m-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Address Line 2</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Address Line 2">
  </div>
</div>

<div class="row mb-3 m-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">City</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3" placeholder="City">
  </div>
</div>

<div class="row mb-3 m-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">State</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3" placeholder="State">
  </div>
</div>

<div class="row mb-3 m-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Postal Code</label>
  <div class="col-sm-3">
      <input type="text" class="form-control" id="inputEmail3" placeholder="123456">
  </div>
</div>
</form>
<div class="row justify-content-end">
<button type="submit" class="btn btn-primary m-2 col-1">Submit</button>
<button type="submit" class="btn btn-primary m-2 col-1">Cancel</button>
</div>
